
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|PT+Sans+Narrow');

body {
    font-family: 'Fjalla One';

}

h1 {
    font-size: 68px;
}

a {
    color: black;
}

.jumbotron {

    color: white;

    background: -moz-linear-gradient(114deg, rgba(236,255,212,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(236,255,212,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(114deg, rgba(236,255,212,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(114deg, rgba(236,255,212,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(114deg, rgba(236,255,212,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(336deg, rgba(236,255,212,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#ECFFD4',GradientType=0 ); /* ie6-9 */
}

.fa {
    margin-right: 10px;
}
.fa-thumbs-o-up {
    color: green;
}
.fa-thumbs-o-down {
    color: red;
}
.table.vote {
    width: 300px;
    margin-left: auto;
}

.status-message {
    height: 20px;
    margin-bottom: 50px; 
}